body{
    font-family: Arial, sans-serif;
    background-color: lightgray;
    color: darkblue;
    text-align: center;
}

.contenedor{
    background-color: white;
    width: 300px;
    margin: 20px auto;
    padding: 15px;
    border: 2px solid black;
    color: green; /* este color se hereda */
}

h1{
    color: black;
}

h2{
    color: red; /* sobrescribe la herencia */
}

ul{
    list-style-type: square;
}

li{
    margin: 5px;
}
.contenedor-flex{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.caja{
    background-color: lightblue;
    padding: 20px;
    border: 1px solid black;
}