body{
    background-color: lightblue;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1{
    color: darkblue;
}

p{
    color: black;
}

button{
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
}