body{
    font-family: Arial;
    background-color: lightgray;
    text-align: center;
}

/* caja para practicar box model */
.caja{
    background-color: white;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid black;
    box-sizing: border-box;
}

h1{
    color: darkblue;
}

h2{
    color: green;
}

p{
    font-size: 16px;
}

button{
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
}